@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --color-bg: #ffffff;
  --color-text: #FF8904;
  --color-border: #FF8904;
  --color-diffcolor: #222222;

  
}

/* Dark Theme */
[data-theme="dark"] {
  --color-bg: #18181b;
  --color-text: #FF8904;
  --color-border: #FF8904;
  --color-diffcolor: #ffffff;
  
}

/* Blue Theme */
[data-theme="blue"] {
  --color-bg: #e0f2fe;
  --color-text: #1e40af;
  --color-border: #2563eb;
  --color-diffcolor: #222222;
   
}



/* custom scroll */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Light-colored scrollbar */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Subtle track */
}


/* html {
  scroll-behavior: smooth;
} */